#aesthetic 
{
	background:url(?holder.js/2048x1600/vine) no-repeat;
	/*height: 400px;*/
	padding: 40px 0 55px;
}

#phoneslider{
	background:url(?holder.js/2048x1600/lava) no-repeat;
	/*height: 400px;*/
	padding: 40px 0 55px;
}

.six columns .button btn large radius{
    line-height: 10em;
}