/*sections background etc.*/


#aesthetic 
{
	background:url(?holder.js/2048x1600/vine) no-repeat;
	/*height: 400px;*/
	padding: 40px 0 55px;
}

#phoneslider{
	/*background:url(?holder.js/2048x1600/vine) no-repeat;*/
	background-color: #34495e;
	/*height: 400px;*/
	padding: 40px 0 55px;
}

#fmpeople{
	background-color: #FFFFFF;
}

#phoneslider h3{
	color: #ffffff;
	font-size: 25px;
}

#phoneslider p{
	color: #ffffff;
}


/*fonts and other textual thingies*/
/*.top-info .smaller h3 span{
	font-size: 50px;
}*/

#box{

	width: 600px;
  	height: 100px;
  	line-height: 400px;
  	text-align: center;
}

#box p{
	display: inline-block;
  	vertical-align: middle;
  	line-height: normal; 
}